<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log/Registration</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Login and Registration</h1>
    <form  action="/register" method="post">
      <h3>Register</h3>
      <label for="email">Email:</label>
      <input type="text" name="email">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name">
      <label for="password">Password:</label>
      <input type="text" name="password">
      <label for="confirm_password">Confirm Password:</label>
      <input type="text" name="confirm_password">
      <label for="birthday">Birthday:</label>
      <input type="date" name="birthday">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
